.timing-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.timer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2px;
    color: red;
    font-weight: 500;
}

.timer p {
    font-size: 2.3rem;
    margin-top: 3px;
}

.timer span {
    display: flex;
    align-items: center;
    font-size: 3.3rem;
}

#main-head {
    font-size: 3rem;
}

.quiz-container .question-box {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.quiz-container hr {
    height: 3px;
    background-color: rgba(0, 0, 0, 0.761);
}


.quiz-container ul {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.quiz-container ul li {
    list-style: none;
    border: 1px solid rgba(0, 0, 0, 0.282);
    height: max-content;
    padding: 1.2rem;
    border-radius: 5px;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: all 0.3s;
    font-size: 1.8rem;
}

.score-next-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 10px;
}

#next-btn,
#reset-btn {
    width: 60%;
    padding: 10px 15px;
    background-color: purple;
    outline: none;
    border: none;
    color: white;
    font-size: 2rem;
    border-radius: 5px;
    cursor: pointer;
}

#next-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

#next-btn:hover,
#reset-btn:hover {
    background-color: rgba(128, 0, 128, 0.75);
}


#q-num {
    background-color: rgba(0, 0, 0, 0.77);
    border-radius: 50%;
    width: 3.5rem;
    height: 3.5rem;
    display: inline-block;
    color: white;
    margin-right: 10px;
    text-align: center;
}

#score-p,
#performance-p,
#warn-p #category-p {
    font-size: 1.7rem;
}

.quiz-container ul .correct,
.quiz-container ul .wrong {
    display: flex;
    justify-content: space-between;
    color: white;
    border: 1px solid rgba(0, 0, 0, 0.119);
}


.correct {
    background-color: rgb(17, 173, 17);
}

.wrong {
    background-color: rgb(253, 62, 62);
}

.correct::after {
    content: '\2714';
}

.wrong::after {
    content: '\2718';
}


.reset-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.reset-box h2 {
    font-weight: 500;
}

.reset-box span {
    color: green;
}

#q-h2 {
    font-size: 2rem;
}

.back-user-box {
    width: 100%;
    margin: 50px auto;
    padding: 10px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    gap: 2rem;
}

.back-user-box button {
    width: 50%;
    max-width: 200px;
    height: 3.8rem;
    background-color: black;
    color: white;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 1.5rem;
}

.disable-btn {
    opacity: 0.5;
    cursor: not-allowed;
}

#user-btn {
    background-color: rgb(200, 30, 238);
}

.loading-section h2 {
    display: flex;
    align-items: center;
    gap: 0.7rem;
}


@media screen and (max-width: 700px) {
    .back-user-box {
        flex-direction: column-reverse;
        align-items: center;

    }
}