.category-container {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
}

.category-container select {
    height: 3.5rem;
    width: 80%;
    padding: 0 5px;
    min-width: 140px;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.247);
}

.category-container button {
    width: 40%;
    min-width: 130px;
    background-color: black;
    color: white;
    outline: none;
    border: none;
    border-radius: 5px;
    padding: 0.7rem 1rem;
}