.button-box {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

.button-box button {
    width: 70%;
    padding: 1rem 0.7rem;
    border: none;
    outline: none;
    font-size: 1.5rem;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.2s;
}

#admin-q-btn {
    background-color: rgb(12, 104, 225);
    color: white;
}

#user-q-btn {
    background-color: rgb(148, 75, 226);
    color: white;
}

#admin-q-btn:hover {
    transform: scale(1.01);
    box-shadow: 0px 0px 10px rgba(12, 104, 225, 0.515);
    background-color: rgba(12, 104, 225, 0.853);
}

#user-q-btn:hover {
    transform: scale(1.01);
    box-shadow: 0px 0px 10px rgba(148, 75, 226, 0.848);
    background-color: rgba(148, 75, 226, 0.848);
}


@media screen and (max-width: 700px) {
    html {
        font-size: 8px;
    }

    nav {
        display: none;
    }

    .home-container #q-type-head {
        font-size: 2.2rem;
    }
}