#quiz-result {
    width: 80%;
    max-width: 900px;
}

.result-container {
    overflow-x: auto;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.total-quiz-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 1.5rem;
}

table {
    border-collapse: collapse;
    width: 100%;
    overflow-x: scroll;
}

table tr td {
    border: 1px solid rgba(0, 0, 0, 0.272);
    width: max-content;
    text-align: center;
    height: 2.7rem;
    font-size: 1.5rem;
    padding: 1rem;
}

table tr:nth-child(even) {
    background-color: rgba(0, 255, 255, 0.286);
}

table thead tr td {
    background-color: rgba(0, 0, 0, 0.102);
}

.btn-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 100%;
}

.btn-box button {
    width: 50%;
    height: 3rem;
    border: none;
    outline: none;
    font-size: 1.5rem;
    border-radius: 5px;
    cursor: pointer;
}

#back-btn {
    background-color: black;
    color: white;
}

#clear-btn {
    background-color: rgb(255, 50, 50);
    color: white;
}

#no-result {
    font-size: 1.7rem;
    text-align: center;
}

@media screen and (max-width: 700px) {
    html {
        font-size: 9px;
    }

    table tr td {
        padding: 0.5rem;
    }

    #quiz-result {
        width: 90%;
        max-width: 500px;
        min-width: 250px;
    }

    .total-quiz-container {
        flex-direction: column;
        align-items: center;
    }
}