#quiz-result {
    width: 80%;
    max-width: 900px;
}

.result-container {
    overflow-x: auto;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.total-quiz-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 1.5rem;
}

table {
    border-collapse: collapse;
    width: 100%;
    overflow-x: scroll;
}

table tr td {
    border: 1px solid rgba(0, 0, 0, 0.272);
    text-align: center;
    min-width: 120px;
    height: 2.7rem;
    font-size: 1.5rem;
    padding: 1rem;
}

table tr:nth-child(even) {
    background-color: rgba(23, 226, 237, 0.125);
}

table thead tr td {
    background-color: rgba(0, 0, 0, 0.102);
}

.btn-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3rem;
    gap: 10px;
    width: 100%;
}

.btn-box button {
    width: 50%;
    height: 4rem;
    border: none;
    outline: none;
    font-size: 1.5rem;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s;
    color: white;
}

#back-btn {
    background-color: black;
}

#back-btn:hover {
    background-color: rgba(0, 0, 0, 0.691);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.691);
    transform: scale(1.01);
}

#clear-btn {
    background-color: rgb(255, 50, 50);
}

#clear-btn:hover {
    background-color: rgba(255, 50, 50, 0.726);
    box-shadow: 0px 0px 5px rgba(255, 50, 50, 0.726);
    transform: scale(1.01);
}


#no-result {
    font-size: 1.7rem;
    text-align: center;
    margin-top: 3rem;
}

.filter-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 0;
    gap: 1.5rem;
}

.filter-box .select-container {
    display: flex;
    width: 80%;
    gap: 2rem;
}

.filter-box h3 {
    font-size: 1.7rem;
}

.filter-box select {
    height: 30px;
    width: 50%;
    min-width: 100px;
    border: 1px solid rgba(0, 0, 0, 0.231);
    border-radius: 5px;
    outline: none;
}

.new {
    background-color: green;
    color: white;
    padding: 0 0.5rem;
    margin: 0 0.3rem;
    border-radius: 10px;
    font-size: 1.2rem;
}

@media screen and (max-width: 700px) {
    html {
        font-size: 9px;
    }

    table tr td {
        padding: 0.5rem;
    }

    #quiz-result {
        width: 90%;
        max-width: 500px;
        min-width: 250px;
    }

    .total-quiz-container {
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (max-width: 550px) {
    .filter-box {
        flex-direction: column;
        align-items: end;
    }

    .filter-box .select-container {
        flex-direction: column;
        align-items: end;
    }

    .filter-box select {
        width: 70%;
    }
}